<div class="row">

    <div class="col-8">
        <h4>{{jugador.nombre}}</h4>
        <h6>{{jugador.posicion}} - {{jugador.dorsal}}</h6>
        <hr>
        <p>
            {{jugador.comentarios}}
        </p>
        <hr>
        <p class="text-muted">Goles: {{jugador.goles}}<br>Tarjetas:{{jugador.ta}}</p>
        <button class="btn btn-outline-danger" [routerLink]="['/plantilla']">Volver</button>
    </div>
    <div class="col-4">
        <figure class="figure">
            <img src="{{jugador.imagen}} " class="figure-img img-fluid rounded"> </figure>
    </div>