<div class="container">
    <div class="row text-center">
        <div class="h1 alert-success container-fluid" id="titulo">POLYMPAKOS</div>
        <hr>
        <img src='./../../../assets/polym.jpg' width="100%" height="600"></div>
    <hr>
    <p class="text-center">Los años han pasado y el Polym sigue igual,<br> con Chechu presidente y el Crasi a mamar,<br> no importa lo que pase la papada vencera,<br> tus huevos presidente no paran de girar</p>
</div>