<div class="card-columns text-center border-dark ">
    <div class="card" *ngFor="let j of (jugadores|identificadores)">
        <img src={{jugadores[j].imagen}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{jugadores[j].nombre}}</h5>
            <p>{{jugadores[j].dorsal}} - {{jugadores[j].posicion}}</p>

            <button [routerLink]="['/detalle', j]" class="btn btn-primary btn-block">Ver detalle</button>
        </div>
    </div>
</div>