<h4>Estadisticas</h4>
<hr>
<button class="btn btn-outline-danger m-3" [routerLink]="['/edicion','new']">Añadir jugador</button>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">NOMBRE</th>
            <th class="text-center">POSICION</th>
            <th class="text-center">DORSAL</th>
            <th class="text-center">GOLES</th>
            <th class="text-center">TARJETAS</th>


            <th class="text-right">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let j of (jugadores|identificadores)">
            <td scope="row" class="text-center">{{jugadores[j].nombre}}</td>
            <td scope="row" class="text-center">{{jugadores[j].posicion}}</td>
            <td scope="row" class="text-center">{{jugadores[j].dorsal}}</td>
            <td scope="row" class="text-center">{{jugadores[j].goles}}</td>
            <td scope="row" class="text-center">{{jugadores[j].ta}}</td>

            <td class="text-center">

                <button class="button btn btn-outline-info mr-2 small" [routerLink]="['/edicion',j]">Editar</button>
                <button class="button btn btn-outline-danger mr-2 small" (click)="eliminarJugador(j)">Eliminar</button>

            </td>
        </tr>

    </tbody>
</table>