<h4>POLYMPAKOS</h4>
<hr>
<h6>INICIOS</h6>
<p>Club fundado en el año 2009 como equipo de futbol sala, blablabalbalbalbalablabal Años mas tarde se dio el paso a futbol 11 con grandes fichajes, como Fer y un portero retrasado Pasaron los años y el polym se asento como equipo de Futbol-7, tras no tener
    éxito en ninguno de los torneos disputados se opto por un cambio de plantilla</p>
<hr>
<h6>ALMUDENA</h6>
<p>Los inicios en la Almudena fueron dificiles, vieneron grandes estrellas como el Kun Yubero y Ricargol qu eprometieron muchos goles, pero esos goles no llegaron nunca. Fueron tiempo dificiles, pero quedara grabado en la retina de los aifcionados alguna
    tarde de gloria, con las celebraciones de nuestro entrañable Miguel
</p>
<hr>
<h6>TORRESPAÑA</h6>
<p>
    Tras pasar por la almudena vinieron los tiempos de Torrespaña, tiempos en los que el Polym fue casi campeon, pero se quedo en el casi. Jugamos el mejor partido que se receurda, el derby contra Jugones, la motivacion de Miguel contagio al equipo y no se
    recuerda al Polym volver a jugar igual
</p>
<hr>
<h6>SAN BLAS</h6>
<p>Despues de Torrespaña vino la epoca de San Blas, época convulsa en el que el yugo de esclavitud del eqiupo del presidente comunista capitalista Chechu, se vio amenazado, hubo esperanza, un rayo de luz en las tinieblas, un presidente de verdad que prometia
    grandes cosas, el gran Crasi, pero democraticamente fue derrotado por Chechu. Actualmente el equipo tiene mas jugadores en la enfermeria que en plantilla, esta sienod un año duro con muchas bajas, que hacen ver un futuro incierto a este historico
    equipo
</p>