<h1> Añadir jugador</h1>
<hr>
<div class="container-fluid">




    <form [formGroup]="pForma" (submit)="guardar()">
        <div class="row">
            <div class="col-6">

                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="nombre" formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="Posicion">Posicion</label>
                    <select class="form-control" id="posicion" formControlName="posicion">
            <option>PT</option>
            <option>DF</option>
            <option>MC</option>
            <option>DL</option>
          </select>
                </div>
                <div class="form-group">
                    <label for="dorsal">Dorsal</label>
                    <input type="number" class="form-control" id="dorsal" placeholder="dorsal" formControlName="dorsal">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="goles" placeholder="Goles" formControlName="goles">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input type="number" class="form-control" id="ta" placeholder="Tarjetas" formControlName="ta">
                </div>
                <div class="form-group">
                    <label for="imagen">imagen</label>
                    <input type="text" class="form-control" id="imagen" placeholder="imagen" formControlName="imagen">
                </div>
                <div class="form-group">
                    <label for="comentarios">comentarios</label>
                    <textarea class="form-control" id="comentarios" rows="3" formControlName="comentarios"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-success m-1" [disabled]="pForma.invalid" (click)="guardar()">Guardar</button>

                <button class="btn btn-outline-dark m-1" [routerLink]="['/estadisticas']">Volver</button>
            </div>
        </div>
    </form>

</div>